<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="follower">
            <h2><span jhiTranslate="discountInstagramApp.follower.detail.title">Follower</span> {{ follower.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="discountInstagramApp.follower.profileName">Profile Name</span></dt>
                <dd>
                    <span>{{ follower.profileName }}</span>
                </dd>
                <dt><span jhiTranslate="discountInstagramApp.follower.profile">Profile</span></dt>
                <dd>
                    <div *ngIf="follower.profile">
                        <a [routerLink]="['/profile', follower.profile?.id, 'view']">{{ follower.profile?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/follower', follower.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
